*{
    background-color: #ECECEC;
}

.flex-container {
    display: flex;
  }
  .flex-container > div {
    width: 150px;
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    text-transform: uppercase;
}

.logo  h4{
    padding-top:0;
    padding-right: 20px;
    font-size: 30px;
    font-weight: 400;

}
.menu-items{
    margin-top: 10px;
    margin-left: 20px;
}
.menu-items p{
    cursor: pointer;
}
hr{
    margin:0;
    color:black;
    background-color:black;
    height:1px;
    position: relative;
    top:40px;


}
.icons{
    margin-left: 500px;
    display:flex;
}
.icons div{
    margin-left:20px
}
.search{
    cursor:pointer;
}